.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  section.heading {
    background: #181522;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tabsWrapper {
      width: 100%;
      max-width: 1220px;
      display: flex;
      margin-top: 66px;

      .buy {
        font-family: 'Inter';
        text-transform: none;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #bdb9c8;
        opacity: 1;
        padding: 16px 16px;
        line-height: 0;
        border-radius: 0 !important;
        opacity: 0.5;
        transition: all 0.3s;

        &:hover {
          opacity: 1;
        }
      }

      .tabs {
        width: 420px;

        :global(.MuiTabs-indicator) {
          background: #f89c24;
        }

        .tab {
          font-family: 'Inter';
          text-transform: none;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #bdb9c8;
          opacity: 1;
          padding: 16px 0;
          line-height: 0;

          &:global(.Mui-selected) {
            color: #f89c24;
          }
        }
      }
    }
  }

  section.content {
    background: #211d35;
    min-height: 500px;
    display: flex;
    justify-content: center;

    .inner {
      padding: 40px 0;
      width: 1220px;

      .config {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
      }
    }
  }
}
