.button {
  border: 1px solid rgba(131, 124, 153, 0.4);
  box-sizing: border-box;
  border-radius: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  transition: all 0.3s;
  color: #837c99;
  padding: 7px 14px;

  &.selected {
    background: linear-gradient(112.17deg, #f89724, #e23f26);
    border-radius: 4px;
    color: white;
    border: transparent;
    font-weight: 500;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
