.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .main {
    flex-grow: 1;

    .title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 56px;
      letter-spacing: -0.02em;
      margin-bottom: 10px;
    }

    & > a {
      color: #837c99;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 22px;
      display: block;
      transition: all 0.3s;

      &:hover {
        color: white;
      }
    }

    .description {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #837c99;
    }
  }

  .info {
    display: flex;
    align-items: center;

    .avatar {
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background: #eee;
    }

    .content {
      display: flex;
      flex-direction: column;
      margin-left: 10px;

      .created {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #f89c24;

        & > b {
          color: white;
          font-weight: 400;
        }
      }

      .timestamp {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #837c99;
        margin-top: 5px;
      }
    }
  }
}
