.wrapper {
  .table {
    .head {
      background: #181522;
      border-radius: 8px;

      .headCell {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #837c99;
        border: none;
        padding: 13px 21px;

        &:first-child {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }

        &:last-child {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }

        :global(.MuiTableSortLabel-icon) {
          color: #f89c24;
          width: 14px;
          height: 14px;
        }
      }
    }

    .body {
      .bodyCell {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #bdb9c8;
        padding: 22px 21px;
        border-bottom: 1px solid rgba(131, 124, 153, 0.18);
      }
    }
  }

  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

    .pagination {
      button {
        width: 40px;
        height: 30px;
        border: 1px solid rgba(131, 124, 153, 0.4);
        border-radius: 8px;
        transition: all 0.3s;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #bdb9c8;

        &:global(.Mui-selected) {
          background: linear-gradient(112.17deg, #f89724 0%, #e23f26 100%);
          border: transparent;
          border-radius: 4px;
          color: white;
        }
      }
    }

    .navigation {
      display: flex;
      align-items: center;

      .button {
        width: 70px;
        height: 30px;
        border: 1px solid rgba(131, 124, 153, 0.4);
        box-sizing: border-box;
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #bdb9c8;
        margin-right: 10px;
        transition: all 0.3s;

        &:active {
          background: linear-gradient(112.17deg, #f89724 0%, #e23f26 100%);
          border: transparent;
          border-radius: 4px;
          color: white;

          & svg {
            color: white !important;
          }
        }

        & svg {
          width: 18px;
          height: 18px;
          color: #837c99;
          margin-left: -5px;
        }

        &:last-child {
          margin-right: 0;

          & svg {
            margin-left: 0;
            margin-right: -5px;
          }
        }
      }
    }
  }
}
